.map_view{
  margin: 0;
  padding: 0;
  height: 100%;
}
.map-message {
  line-height: 500px;
  vertical-align: middle;
  text-align: center;
  font-size: large;
  color: #cc4646;
  font-style: oblique;
}
