.next {
  float: right;
  font-size: 20px;
  text-decoration: underline;
  color: #d41616;
  cursor: pointer;
}
.search-item {
  background: #EEE;
  border: 1px solid #DDD;
  padding: 4px 4px 4px 4px;
  margin-top: 2px;
}
